*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(138, 138, 138, 0.5);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, black, rgb(54, 53, 53));
    color: white;
}

.valores{
    margin: 50px;
}

.a input, .b input, .c input{
    outline: none;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    width: 15%;
}


.a, .b, .c{
    font-size: 20px;
}

.calcular{
    width: 150px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

.calcular:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.5px solid white;
    color: white;
    transform: scale(1.1);
}

.pr{
    font-size: 16px;
}
